<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @* CSS của template có sẵn *@
    <link href="~/Content/NguoiDungCssLayout/fonts.css" rel="stylesheet" />
    <link href="~/Content/NguoiDungCssLayout/screen.css" rel="stylesheet" />
    @* Chèn CSS của FontAwesome *@
    <link href="~/Content/fontawesome/css/all.min.css" rel="stylesheet" />
    @* CSS của Nivo Slider*@
    <link href="~/NivoSlider/nivo-slider.css" rel="stylesheet" />
    @* CSS tự định nghĩa *@
    <link href="~/Content/NguoiDungCssLayout/NguoiDungCssLayout.css" rel="stylesheet" />
    
</head>
<body>
    <div id="ToanTrang">
        @* MAINMENU *@
        <section class="blank">
            <div class="flash">
                <div class="DienThoai">
                    <i class="fas fa-phone-square"></i>
                    (08) 1900 - 0000
                </div>

                <div class="DangKyDangNhap">
                    <i class="fas fa-user-plus"></i>
                    @Html.ActionLink("Đăng ký", "DangKy", null, htmlAttributes: new { @class = "DangKy" })
                    <i class="fas fa-sign-in-alt"></i>
                    @Html.ActionLink("Đăng nhập", "DangNhap", null, htmlAttributes: new { @class = "DangNhap" })
                </div>
            </div>

            <div class="flash success" id="divDanhMuc">
                @* Hôp thoại tìm kiếm *@
                <div id="txtTimKiem">
                    @using (Html.BeginForm())
                    {
                        @Html.TextBox("txtTimKiem", "", htmlAttributes: new { @class="txtTimKiem", @placeholder="Nhập vào từ khóa cần tìm" })
                        <div id="divHinhAnhTimKiem">
                            <button type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    }
                </div>

                <ul class="navMenu">
                    <li><a href="#">Trang chủ</a></li>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Liên hệ</a></li>
                    <li><a href="#">Hướng dẫn</a></li>
                    <li><a href="#">Sách</a></li>
                </ul>
            </div>
        </section>

        @* LEFTMENU AND SLIDER *@
        <section>
            @* Menu hiển thị sách mới *@
            <div id="divMenuLeft">
                <div class="activity">
                    <h1 class="item-header">SÁCH MỚI</h1>

                    <div class="activity-list-update">
                        <img src="http://lorempixel.com/50/50/" alt="Image">
                        <span>Sách công phần mềm</span>
                        <div class="clear"></div>
                    </div>

                    <div class="activity-list-update">
                        <img src="http://lorempixel.com/50/50/" alt="Image">
                        <span>Lập trình C#</span>
                        <div class="clear"></div>
                    </div>

                    <div class="activity-list-update">
                        <img src="http://lorempixel.com/50/50/" alt="Image">
                        <span>Lập trình Python</span>
                        <div class="clear"></div>
                    </div>

                    <a href="#" class="item-footer green">
                        Xem thêm
                    </a>
                </div>
            </div>
            @* Chèn NivoSlider *@
            <div id="slider" class="nivoSlider">
                <img src="~/Images/slider1.jpg" />
                <img src="~/Images/slider2.jpg" />
                <img src="~/Images/slider3.jpg" />
            </div>
            <div style="clear:both"></div>
        </section>

        @* RENDER_BODY *@
        <section>
            <div id="NoiDung">
                @RenderBody()
            </div>
        </section>

        <section>
            <div>

                <a href="#" class="button button-submit">Khoa học</a>
                <a href="#" class="button button-submit">Công nghệ thông tin</a>
                <a href="#" class="button button-submit">Tình yêu</a>
                <a href="#" class="button button-submit">Xã hội</a>
                <a href="#" class="button button-submit">Nhân văn</a>
             
            </div>
        </section>

        
        @* PUBLISHER *@
        <section class="blank items">
            <div id="divLeft">


                <div class="item">
                    <img src="http://lorempixel.com/400/300/" alt="Image">

                    <div class="item-info">
                        <h1>Nhà xuất bản</h1>
                        <div><a href="#">Kim Đồng</a></div>
                        <div><a href="#">Kim Đồng</a></div>
                        <div><a href="#">Kim Đồng</a></div>
                        <div><a href="#">Kim Đồng</a></div>
                    </div>
                </div>
            </div>

            <div id="divRight">
                @RenderSection("NoiDungBenPhai")
            </div>           
        </section>
        <div>
            <a href="#" class="button button-buy">Chào mừng các bạn đã đến với khóa học trực tuyến MYCLASS.VN</a>
        </div>
    </div>

    @* JQuery *@
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @* NivoSlider scripts *@
    <script src="~/NivoSlider/jquery.nivo.slider.js"></script>
    <script src="~/NivoSlider/jquery.nivo.slider.pack.js"></script>
    @* Custom scripts *@
    <script type="text/javascript">
        $(window).load(function() {
            $('#slider').nivoSlider({
                controlNav: false,
                prevText: '',
                nextText: '',
            });
        });
    </script>
</body>
</html>
